// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.button-new-restaurant{
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn {
  padding: 2px 4px;
}

